<ion-content class="saved-bg">
  <div class="center-wrapper">
    <div class="form">

      <ion-button class="return-btn-top" fill="clear" (click)="goHome()">
        ← 
      </ion-button>
      
      <h2>Previously Saved Scans</h2>

      <div *ngIf="previousScans.length === 0" class="empty-msg">
        <p>You haven't scanned anything yet!</p>

      <ion-list class="scan-list" *ngIf="previousScans.length > 0">
        <ion-item *ngFor="let scan of previousScans">
          <ion-label>
            <h3>{{ scan.name }}</h3>
            <p>📦 Barcode: {{ scan.code }}</p>
            <p>⚠️ Contains: {{ scan.allergens?.join(', ') }}</p>
            <p>⚠️ May contain: {{ scan.mayContain?.join(', ') }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      </div>
    </div>
  </div>

</ion-content>
