<ion-content class="saved-bg">
  <div class="center-wrapper">
    <div class="form">

      <ion-button class="return-btn-top" fill="clear" (click)="goHome()">
        ← 
      </ion-button>
      
      <h2>Previous Scans</h2>

      <ion-list class="scan-list" *ngIf="previousScans.length > 0">
        <ion-item *ngFor="let item of previousScans">
          <ion-label>
            <h3>{{ item.name }}</h3>
            <p> {{ item.date }}</p>

            <p *ngIf="item.allergens?.length">
               Contains: {{ item.allergens.join(', ') }}
            </p>

          </ion-label>
        </ion-item>
      </ion-list>

      <div *ngIf="previousScans.length === 0" class="empty-msg">
        <p>You haven't scanned anything yet.</p>
      </div>
    </div>
  </div>

</ion-content>
