 <ion-content class="register-bg">
  <div class="center-wrapper">
    <div class="form">
    <h2 class="form-title">Create your account</h2>

    <ion-input
    placeholder="Name"
    fill="outline"
    class="form-input"
    [(ngModel)]="name">
    </ion-input>

    <ion-input 
    placeholder="Email" 
    fill="outline"
    class="form-input"
    type="email"
    [(ngModel)]="email">
    </ion-input>

    <ion-input
     placeholder="Password"
     fill="outline"
     class="form-input"
     type="password"
     [(ngModel)]="password">
    </ion-input>

    <ion-button expand="block" class="register-Btn" (click)="register()">Register</ion-button>
    
    <div class="loginlink" (click)="goToLogin()">
      Already have an account? <span class="link">Login</span>
    </div>
  </div>
</div>
</ion-content>
  
  