<ion-content class="register-bg">
  <div class="center-wrapper">
    <div class="form">
      <h2 class="form-title">Create your account</h2>

      <form>
        <ion-item lines="none">
          <ion-label position="floating">Name</ion-label>
          <input type="text" [(ngModel)]="name" name="name" />
        </ion-item>
      
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <input type="email" [(ngModel)]="email" name="email" />
        </ion-item>
      
        <ion-item lines="none">
          <ion-label position="floating">Password</ion-label>
          <input type="password" [(ngModel)]="password" name="password" />
        </ion-item>
      </form>
      
      <ion-button class="register-Btn" expand="block" (click)="register()">Register</ion-button>

      <div class="loginlink">
        Already have an account?
        <span class="link" (click)="goToLogin()">Login</span>
      </div>
    </div>
  </div>
</ion-content>
