:host {
  ion-content.register-bg {
    --background: #c5d7d6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .center-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
  }

  .form {
    background: #ffffff;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #092c3e;
  }

  ion-item {
    --background: transparent;
    margin-bottom: 1.2rem;
    --highlight-color-focused: #092c3e;
    --border-color: #ccc;
    --inner-border-width: 1px;
    --min-height: 56px;
  }

  ion-label {
    font-size: 14px;
    color: #092c3e;
  }

  ion-input {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    background: #f9f9f9;
  }
  

  .register-Btn {
    margin-top: 1rem;
    --background: #092c3e;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }

  .loginlink {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #092c3e;
  }

  .link {
    color: #092c3e;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
  }

  ion-content {
    pointer-events: auto !important;
  }
  
  ion-input {
    pointer-events: auto !important;
    --highlight-color-focused: #092c3e;
  }
  
  
}
