
<ion-content class="login-bg">
    <div class="center-wrapper">
        <div class="form">
            <h2>Welcome Back</h2>

        <ion-input 
        placeholder="Email" 
        type="email"
        fill="outline"
        class="form-input"
        [(ngModel)]="email">
        </ion-input>

        <ion-input 
        placeholder="Password" 
        type="password"
        fill="outline"
        class="form-input"
        [(ngModel)]="password">
        </ion-input>

        <ion-button expand="block" class="login-Btn" (click)="login()">Log In</ion-button>
        <div class="loginlink" (click)="goToRegister()">
            Don’t have an account? <span class="link">Register</span>
        </div>
    </div>
 </div> 
</ion-content>
