<ion-content class="homepage-bg">

  <div class="logo-wrapper">
    <img src="assets/SnackSafeLogo.png" alt="SnackSafe Logo" class="logo-img"/>
  </div>

  <div>
    <!--Shows users name-->
    <h2 class="greeting">Welcome {{ userName }}! </h2>
  </div>

  <!--Buttons for navigating-->
  <div class="buttons">
  <ion-button expand="block" class="scan-Btn" (click)="goToScan()">
    Scan Product
  </ion-button>

  <ion-button expand="block" class="allergy-Btn" (click)="goToAllergySetup()">
    Edit Allergies
  </ion-button>

  <ion-button expand="block" class="saved-Btn" (click)="goToSaved()">
    Previous Scans
  </ion-button>

  <ion-button expand="block" class="logout-Btn" (click)="logout()">
    Log Out
  </ion-button>
  </div>
</ion-content>
